#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    
}

body{
    overflow: hidden;
}

#icon_name{
    display: flex;
    gap: 10px;
    align-items: center;
}

#contactIcon{
    color: #1B71F0;
    font-size: 42px;
}

#icon_name h3{
    color: #868C92;
}

#alert{
    position: absolute;
    right: -50%;
    bottom: -55%;
    visibility: hidden;
    transition: .6s ease-out;
}

#alert.showAlert{
    right: 0;
    visibility: visible;
}